[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
mypy = "*"
twine = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
moto = "*"

[packages]
s3fs = "==0.4.*"
logstash-formatter = ">=0.5.17"
jinja2 = ">=2.11"
click = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
